h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.timeDisplay {
    font-family: 'Courier New', Courier, monospace;
    float: right;
    padding: 20px;
}

.left {
    float: left;
    padding: 20px;
}

.right {
    float: right;
    padding: 20px;
}

.center {
    text-align: center;
}

.rounded_border {
    border-radius: 25px;
    border: 2px solid black;
    position: fixed;
    width: 1350px;
    height: 550px;
    margin-left: 80px;
    margin-top: 30px;
}

.type_border {
    border-radius: 25px;
    text-align: left;
    margin-left: 600px;
    border: 2px solid black;
    padding: 8px;
    position: fixed;
    width: 250px;
    height: 30px;
    align-items: center;
}

.hide_border {
    border: hidden;
    padding: 30px;
    position: fixed;
    width: fit-content;
    height: max-content;
    margin: 80px;
}

.button{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}


.horizon-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}